;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies [[reagent/reagent "1.0.0"]
                [metosin/reitit "0.5.12"]]

 :dev-http {8888 "public"}

 :nrepl {:middleware [cider.nrepl/cider-middleware
                      cider.piggieback/wrap-cljs-repl]}

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                ;; :compiler-options {:optimizations :simple
                ;;                    :infer-externs :auto}
                :closure-defines {clojure-fishing.env/supabase-url #shadow/env "SUPABASE_URL"
                                  clojure-fishing.env/supabase-anon-key #shadow/env "SUPABASE_ANON_KEY"
                                  clojure-fishing.env/supabase-service-role-key #shadow/env "SUPABASE_SERVICE_ROLE_KEY"}
                :modules {:main {:entries [clojure-fishing.app]
                                 :init-fn clojure-fishing.app/init!}}
                :devtools {:after-load clojure-fishing.app/mount-root}}}}
